<ion-header>
  <ion-toolbar align="center" >
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
<ion-card><ion-card-title color="success" align="center">NOUVEAUTÉ</ion-card-title>
        <p align="center">  AVEC VOTRE CARTE INTERNATIONALE OU BANCAIRE OU POSTALE</p>
<p align ="center"> VOUS POUVEZ CRÉER VOTRE WALLET ET UTILISER LES SERVICES DE L'APPLI my-app.</p>
  </ion-card>



  <ion-card><ion-card-title color="success" align="center">Confidentialité Et Sécurisation des Échanges</ion-card-title>
  <p  align="center">CRYPTAGE TRÈS ÉLEVÉS</p>
<p align="center">Tous les échanges entre l’application et les serveurs de le site se font d’une manière sécurisée et confidentielle par l’usage des protocoles tel que le SSL. Donc toutes vos données sont partagées seulement entre vous et le site.</p></ion-card>



<ion-card><ion-card-title color="success" align="center">Flexible et Facile</ion-card-title>
  <p align="center">  AVEC VOTRE CARTE INTERNATIONALE OU BANCAIRE OU POSTALE</p>
<p align="center"> l'application my-app vous offre une utilisation facile toute en gardant un haut niveau de sécurité par l’usage d’un Mot de passe pour accéder à l’application et la validation de toute transaction par la saisie du code PIN de la carte. </p>
</ion-card>


<ion-card>   
  <p><ion-icon name="at-circle"></ion-icon>aymenMattoussi050@gmail.com </p>
  
  <p> <ion-icon name="extension-puzzle-outline"></ion-icon>powered by progress engenering</p>

<p> 
  <ion-icon name="call-outline"></ion-icon> 53889355</p>

</ion-card>

  
</ion-content>
